# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/

# macOS
.DS_Store

# JetBrains IDEs (PyCharm, etc.)
.idea/

# VSCode
.vscode/

# Custom project folders/files
metricsmonitoring/
filtering.py

# Other
*.log
